# Домашнее задание 2 

Необходимо реализовать схему, указанную в hw_diagram.pdf

## Описание таблиц 
PeopleStatus - Описание возможных статусов людей, которые есть в университете (Студент, Преподаватель).
Faculties - Описание факультетов, которые есть в университете (KIB, IT, и т.д.).
People - Информация о людях в университете (Имя, почта, ссылка на факультет, ссылка на статус).
Classes - Описание возможных классов в университете (название (Математический анализ) и ссылка на факультет).
Semesters - Справочник семестров факультета(например, Осень2016, '2016-01-01', '2016-12-31').
ClassesSchedule - Расписание классов (ссылки на семестр, преподавателя и курс, день недели, время начала).
StudentsSchedule - Таблица, описывающая, какой студент ходит на какой курс.

In [1]:
%load_ext sql
%sql sqlite:///chinook.db

'Connected: None@chinook.db'

## Создание таблиц
Напишет ниже скрипты по созданию таблиц с учетом всех внешних ключей.

In [29]:
%%sql
drop table if exists PeopleStatus;
drop table if exists People;
drop table if exists StudentsSchedule;
drop table if exists ClassesSchedule;
drop table if exists Semesters;
drop table if exists Classes;
drop table if exists Faculties;
create table PeopleStatus(
id int,
name varchar,
primary key (id)
);
create table People(
id int,
name varchar,
email varchar,
fac_id int,
status_id int,
primary key (id),
foreign key (status_id) references PeopleStatus (id)
foreign key (fac_id) references Faculties (id)
);
create table StudentsSchedule(
student_id int,
classesshedule_id,
primary key (student_id),
foreign key (student_id) references People (id)
foreign key (classesshedule_id) references People (id)
);
create table ClassesSchedule(
id int,
class_id int,
teacher_id int,
semester_id int,
week_day int,
time_start varchar,
primary key (id),
foreign key (class_id) references Classes (id)
foreign key (teacher_id) references People (id)
foreign key (semester_id) references Semestres (id)
);
create table Semesters(
id int,
shortname varchar,
date_start date,
date_end date,
primary key (id)
);
create table Classes(
id int,
description varchar,
fac_id int,
primary key (id),
foreign key (fac_id) references Faculties (id)
);
create table Faculties(
id int,
name varchar,
primary key (id)
);

0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

## Добавление записей в таблицы
Приведите примеры добавления записей в каждую из таблиц

In [33]:
%%sql
insert into People(id, name, email, fac_id) values (12, 'John', 'johny@mail.ru', 5);

1 rows affected.

[]

Находится ли указанная схема ниже в BCNF? Напишите ниже функциональные зависимости, которые вы считаете, есть в указанной схеме.